name: Recommendation System CI

on:
  push:
    branches: [ develop, main ]
  pull_request:
    branches: [ develop, main ]

jobs:
  test:
    runs-on: ubuntu-latest

    services:
      postgres:
        image: postgres:17.5
        env:
          POSTGRES_DB: test_db
          POSTGRES_USER: test_user
          POSTGRES_PASSWORD: test_pass
        ports:
          - 5432:5432
        options: >-
          --health-cmd="pg_isready -U test_user"
          --health-interval=10s
          --health-timeout=5s
          --health-retries=5

    steps:
      # Get the codebase
      - name: Checkout code
        uses: actions/checkout@v3

      # Set up python
      - name: Set up Python 3.12
        uses: actions/setup-python@v4
        with:
          python-version: "3.12"

      # Install dependencies
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt
          pip install pytest pytest-django pytest-cov coverage pytest-html flake8
      
      # Ensure the database is ready before running tests
      - name: Wait for PostgreSQL to be ready
        run: |
          until pg_isready -h 127.0.0.1 -p 5432 -U test_user; do
            echo "Waiting for Postgres..."
            sleep 5
          done

      # Lint test & not failing the pipeline on linting errors
      - name: Lint with flake8
        run: flake8 . --output-file=flake8_report.txt
        continue-on-error: true
      
      # Upload the linting report as an artifact
      - name: Upload flake8 report
        uses: actions/upload-artifact@v4
        with:
          name: flake8-report
          path: flake8_report.txt

      # Run Django tests with coverage
      - name: Run tests with coverage
        env:
          DB_NAME: test_db
          DB_USER: test_user
          DB_PASSWORD: test_pass
          DB_HOST: 127.0.0.1
          DB_PORT: 5432
          DJANGO_SETTINGS_MODULE: recommendation_system.settings
        run: |
          # Run pytest with HTML report
          pytest --html=report.html --self-contained-html

          # Run coverage
          coverage run -m pytest
          coverage xml
          coverage report

      # Upload coverage report
      - name: Upload coverage report
        uses: actions/upload-artifact@v4
        with:
          name: coverage-report
          path: coverage.xml
      
      # Upload HTML test report
      - name: Upload HTML test report
        uses: actions/upload-artifact@v4
        with:
          name: pytest-html-report
          path: report.html
